@model SudokuMap
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Sudoku</h1>
    
    <div class="d-flex flex-row">
        <div class="p-1">
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[0].Value" />
                <input type="text" class="col-3" value="@Model.Fields[1].Value" />
                <input type="text" class="col-3" value="@Model.Fields[2].Value" />
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[3].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[4].Value" />
                <input type="text" class="col-3" value="@Model.Fields[5].Value" />
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[6].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[7].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[8].Value" />
            </div>
        </div>
        <div class="p-1">
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[9].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[10].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[11].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[12].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[13].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[14].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[15].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[16].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[17].Value"/>
            </div>
        </div>
        <div class="p-1">
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[18].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[19].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[20].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[21].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[22].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[23].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[24].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[25].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[26].Value"/>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="p-1">
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[27].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[28].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[29].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[30].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[31].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[32].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[33].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[34].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[35].Value"/>
            </div>
        </div>
        <div class="p-1">
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[36].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[37].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[38].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[39].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[40].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[41].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[42].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[43].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[44].Value"/>
            </div>
        </div>
        <div class="p-1">
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[45].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[46].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[47].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[48].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[49].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[50].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[51].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[52].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[53].Value"/>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="p-1">
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[54].Value" />
                <input type="text" class="col-3" value="@Model.Fields[55].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[56].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[57].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[58].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[59].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[60].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[61].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[62].Value"/>
            </div>
        </div>
        <div class="p-1">
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[63].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[64].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[65].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[66].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[67].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[68].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[69].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[70].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[71].Value"/>
            </div>
        </div>
        <div class="p-1">
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[72].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[73].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[74].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[75].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[76].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[77].Value"/>
            </div>
            <div class="col-12">
                <input type="text" class="col-3" value="@Model.Fields[78].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[79].Value"/>
                <input type="text" class="col-3" value="@Model.Fields[80].Value"/>
            </div>
        </div>
    </div>
</div>
